.flipbook {

    display: flex;

    overflow: hidden;

    width: 100%; /* Ajusta según sea necesario */

    height: auto; /* Ajusta según sea necesario */

}


.page {

    min-width: 100%; /* Cada página ocupa el 100% del contenedor */

    transition: transform 0.5s ease; /* Suaviza la transición */

}
